# python = 3.8
# # conda style
# pytorch=1.8

# hugging face stuff
gradio_client

# pip style
pyyaml
python-telegram-bot
python-dotenv
torch==1.8

matplotlib
pandas
tqdm
torchvision
pillow

gdown   # downloading model form gdrive